APP_ENV=local

KAGGLE_DATASET_REF=skihikingkevin/pubg-match-deaths
RAW_DATA_DIR=data/raw
STAGED_DATA_DIR=data/staged
CURATED_DATA_DIR=data/curated
QUARANTINE_DATA_DIR=data/quarantine

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pubg_analytics
POSTGRES_USER=pubg_analytics
POSTGRES_PASSWORD=

SUPERSET_SECRET_KEY=

