APP_ENV=local

KAGGLE_DATASET_REF=skihikingkevin/pubg-match-deaths
RAW_DATA_DIR=data/raw
STAGED_DATA_DIR=data/staged
CURATED_DATA_DIR=data/curated
QUARANTINE_DATA_DIR=data/quarantine

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=pubg_analytics
POSTGRES_USER=pubg_analytics
POSTGRES_PASSWORD=replace-with-a-local-password
POSTGRES_READONLY_USER=analyst_ro
POSTGRES_READONLY_PASSWORD=replace-with-a-local-password
POSTGRES_SSLMODE=disable

SUPERSET_METADATA_DB=superset_metadata
SUPERSET_PORT=8088
SUPERSET_SECRET_KEY=replace-with-a-long-random-secret
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_FIRST_NAME=Local
SUPERSET_ADMIN_LAST_NAME=Admin
SUPERSET_ADMIN_EMAIL=admin@localhost
SUPERSET_ADMIN_PASSWORD=replace-with-a-local-admin-password
